* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #20303c;
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s ease-in;
}

h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}
h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
}
h3 {
  font-weight: 500;
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
div.sl {
  display: flex;
  height: 1px;
  width: 90%;
  background-color: teal;
}
li.slv {
  display: flex;
  height: 20px;
  width: 1px;
  background-color: darkslategray;
  list-style: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f9fafa;
  box-shadow: rgb(66, 66, 66) 0rem 0rem 0.5rem;
  z-index: 2;
  position: sticky;
  top: 0;
  div.logo {
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 3 1 400px;
  }

  img {
    margin-left: 2rem;

    height: 30px;
    width: 30px;
  }
}
nav {
  flex: 1 1 400px;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;

    li {
      .active {
        color: teal;
        font-size: 1.1rem;
      }

      a {
        text-decoration: none;
        font-size: 1rem;
      }
    }
    li:hover {
      color: teal;
      text-shadow: darkslategray 0rem 0rem 0.2rem;
    }
  }
}

main {
  min-height: 90vh;
  width: 100%;
  background-color: #f9fafa;

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: opacityin 1.5s ease-in;
  h1 {
    margin: 2rem;
    font-size: 2rem;
    color: teal;
  }

  section.backImage {
    min-height: 90vh;
    width: 100%;
    color: white;
    background-image: url("../pic/back.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  div.filter {
    background: #a2ffd40e;
    background-image: -webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0%, #a2ffd40e),
      color-stop(100%, #f9fafa)
    );
    background-image: -webkit-linear-gradient(#a2ffd40e, #f9fafa);
    background-image: -moz-linear-gradient(#a2ffd40e, #f9fafa);
    background-image: -o-linear-gradient(#a2ffd40e, #f9fafa);
    background-image: linear-gradient(#a2ffd40e, #f9fafa);

    // background-color: rgba(220, 255, 240, 0.4);
    width: 100%;
    min-height: 90vh;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  button.find {
    background-color: rgba(120, 200, 190, 0.8);
    box-shadow: gray 0.5rem 0.5rem 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    border: darkslategrey;
    border-radius: 1rem;
    cursor: pointer;
  }
  section.second {
    display: flex;
    // flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    min-height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .project {
      height: 240px;
      width: 240px;
      border-radius: 5%;
      object-fit: cover;
      margin: 1rem;
    }
    .project-w {
      height: 240px;
      width: 400px;
      border-radius: 5%;
      object-fit: cover;
      margin: 1rem;
    }
    .project-h {
      height: 300px;
      width: 200px;
      border-radius: 5%;
      object-fit: cover;
      margin: 1rem;
    }
    .project-l {
      height: 400px;
      width: 400px;
      border-radius: 5%;
      object-fit: cover;
      margin: 1rem;
    }
    section.info {
      display: flex;
      flex: 1 1 200px;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      h3 {
        color: teal;
      }
      a {
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        background-color: rgba(0, 128, 128, 0.7);
        color: white;
        border-radius: 10%;
      }
    }
    section.left {
      display: flex;
      width: 40%;
      //   min-height: 60vh;
      flex-wrap: wrap;
      flex: 2 1 200px;
      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        flex: 1 1 150px;
        h4 {
          color: teal;
          margin: 1rem;
        }
      }
    }
    section.right {
      display: flex;
      width: 60%;
      justify-items: center;

      flex: 3 1 300px;
      table {
        // position: relative;
        // width: 500px;
        td.tit {
          text-align: right;
          width: 30vw;
          padding: 1rem 0.75rem;
          font-weight: 400;
        }

        td {
          font-weight: 700;
          text-align: left;
          padding: 0.5rem 0.75rem;
        }
      }
    }

    section.cards {
      display: flex;
      width: 40%;
      //   min-height: 60vh;
      flex-wrap: wrap;

      border-radius: 10%;

      div.card-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        flex: 1 1 150px;
        a {
          text-decoration: none;
          padding: 0.5rem 1.5rem;
          display: contents;
          align-items: center;
          div.img-con {
            overflow: hidden;
            width: 150px;
            height: 200px;

            img {
              width: 150px;
              height: 200px;

              object-fit: cover;
            }
            img:hover {
              transform: scale(1.2);
            }
          }
          h4 {
            // color: teal;
            margin: 1rem;
          }
          h4:hover {
            color: teal;

            text-shadow: darkslategray 0rem 0rem 0.2rem;
          }
        }
      }

      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        flex: 1 1 150px;

        div.img-con {
          overflow: hidden;
          width: 120px;
          height: 120px;
          border-radius: 50%;

          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
        h4 {
          color: teal;
          margin: 1rem;
        }
        a {
          text-decoration: none;
          padding: 0.5rem 1.5rem;
          background-color: rgba(0, 128, 128, 0.7);
          color: white;
          border-radius: 10%;
        }
      }
      table {
        position: relative;
        width: 500px;
        td.tit {
          text-align: right;
          width: 20vw;
          padding: 1rem 0.75rem;
          font-weight: 400;
        }

        td {
          font-weight: 700;
          text-align: left;
          padding: 0.5rem 0.75rem;
        }
      }
    }
  }
}
footer {
  min-height: 30vh;
  width: 100%;
  background-color: #f9fafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  section.inf {
    display: flex;
    width: 80%;
    // min-height: 20vh;
    flex-wrap: wrap;
    justify-content: space-around;
    div.card-f {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      height: 100px;
      padding: 1rem 0rem 0rem 0rem;
      flex: 1 1 150px;
    }
  }
  div.logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 1rem;
      height: 50px;
      width: 50px;
    }
  }

  section.link {
    a {
      margin: 1rem 5px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  h5 {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: rgba(47, 79, 79, 0.7);
  }
}

// scrollbar setting

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkslategrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: teal;
}
@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  main {
    section.second {
      width: 100%;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      section.cards {
        width: 90%;
      }
      section.left {
        display: flex;
        width: 90vw;
        //   min-height: 60vh;
        flex-wrap: wrap;

        div.card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 1rem;
        }
      }
      section.right {
        display: flex;
        width: 90vw;
        justify-items: center;

        table {
          td.tit {
            text-align: right;
            width: 30vw;
            padding: 1rem 0.75rem;
            font-weight: 400;
          }

          td {
            font-weight: 700;
            text-align: left;
            width: 60vw;
            padding: 0.5rem 0.75rem;
          }
        }
      }
      section.cards {
        width: 90%;
      }
      .project {
        height: 48vw;
        width: 48vw;
        border-radius: 5%;
        object-fit: cover;
        margin: 1rem;
      }
      .project-w {
        height: 48vw;
        width: 80vw;
        border-radius: 5%;
        object-fit: cover;
        margin: 1rem;
      }
      .project-h {
        height: 80vw;
        width: 48vw;
        border-radius: 5%;
        object-fit: cover;
        margin: 1rem;
      }
      .project-l {
        height: 80vw;
        width: 80vw;
        border-radius: 5%;
        object-fit: cover;
        margin: 1rem;
      }
    }
  }
  footer {
    section.inf {
      flex-direction: column;
    }
  }
}
